* {

  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.center-div {
 text-align: center;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  padding-top: 43px;
}




.todo-input 
{

position: relative;
right: -7px;

}



  


.btn-grad {
   margin: 10px;
   padding: 4px 14px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   background-image: linear-gradient(to right, #88d310 0%, #1a9d0a  51%, #54d310  100%)
  
   
 }

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }

 input[type="text"] {

  width: 200px;
  height: 27px;
  border-radius: 7px;
  

  
 }
 li {

  list-style: none;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  
  text-align: center;

 

 }

 .check-btn  {

  padding-left: 40px;
   
   
 }

table {
  margin-left: auto; 
  margin-right: auto;
}

#task-1
{
  padding-right: 200px;
}

#task-2 {

  padding-right: 300px;
}




  


